.about__dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.dropdown__taille{
    width: 1023px;
}


@media screen and (max-width: 425px){
    .dropdown__taille{
        width: 335px;
    }
}


@media screen and (min-width: 426px) and (max-width: 1023px) {
    .dropdown__taille{
        width: 600px;
    }
}