.header{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px 0 100px;
    align-items: center;
    background: #FFF;
}

.header > img {
    width: 210.322px;
    height: 68px;
    flex-shrink: 0;
}

.header__links{
    display: flex;
}

.header__link{
    display: flex;
    width: 116px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}

.header__link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 425px ) {
    .header{
        padding: 40px 15px 0 15px;
    }
    .header > img {
        width: 145px;
        height: 47px;
    }
    .header__link{
        width: 59px;
        font-size: 12px;
    }
}