.thumb{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 340px;
    color: #FFF;
    flex-shrink: 0;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    background-size: cover;
    background-position: 50% 50%;
}


.thumb__title{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 200px;
}


.thumb__image{
    object-fit: cover;
    border-radius: 10px;
    height: 340px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
}

@media screen and (max-width: 425px) {
    .thumb{
        height: 255px;
        flex-shrink: 0;
        padding: 20px 0 20px 0;
    }
    .thumb__image{
        width: 100%;
    }
}

@media screen and (min-width: 426px) and (max-width: 1023px) {
    .thumb{
        height: 155px;
        flex-shrink: 0;
        padding: 20px 0 20px 0;
    }
    .thumb__image{
        width: 100%;
    }
}