.footer{
    display: flex;
    padding: 66px 50px 29px 50px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #000;
}
  
.footer > img{
    width: 122px;
    height: 39.444px;
    margin-bottom: 30px;
}
  
.footer > span{
    display: flex;
    height: 46px;
    flex-direction: column;
    justify-content: flex-end;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}

@media screen and (max-width: 425px ) {
    .footer > span{
        font-size: 12px;
    }
}