.app--error{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.error-number{
    color: #FF6060;
    font-size: 288px;
    font-weight: 700;
}
  
  .error-txt{
    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    font-style: normal;
    text-align: center;
    font-family: Montserrat;
}
  
  .error-link{
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    margin: 70px auto;
    text-decoration: underline;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}

@media screen and (max-width: 425px ) {
  .error-number{
    color: #FF6060;
    font-size: 96px;
    font-weight: 700;
  }
  .error-txt{
    text-align: center;
    width: 300px;
    font-size: 18px;
  }
  .error-link{
    font-size: 14px;
  }
}